/* You can add global styles to this file, and also import other style files */
/*@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');*/
/*
                              ______________
                        ,===:'.,            `-._
                             `:.`---.__         `-._
                               `:.     `--.         `.
                                 \.        `.         `.
                         (,,(,    \.         `.   ____,-`.,
                      (,'     `/   \.   ,--.___`.'
                  ,  ,'  ,--.  `,   \.;'         `
                   `{D, {    \  :    \;
                     V,,'    /  /    //
                     j;;    /  ,' ,-//.    ,---.      ,
                     \;'   /  ,' /  _  \  /  _  \   ,'/
                           \   `'  / \  `'  / \  `.' /
                            `.___,'   `.__,'   `.__,'
*/




body {
    background: linear-gradient(39deg,#039be5 37%,#0066CC 75%);
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -5px;
    height: 120%;
    width: 200px;
    background: linear-gradient(60deg, #111 5%, #333 75%);
    padding: 6px 14px;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 18px;
    font-weight: 400;
}

.sidebar ul {
    margin-top: 20px;
    margin: 0 -25px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 75%;
    list-style: none;
}

.sidebar ul li a {
    color: #ee8a00;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    font-size: 20px;
    padding-right: 25px;
    height: 40px;
}

.sidebar ul li a:hover {
    color: #1a1b23;
    background: #ee8a00;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 25px;
    border-radius: 12px;
    line-height: 50px;
    text-align: right;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 150px;
    top: 100%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 150px;
    background: #ECF0F5;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
    color: #ee8a00
}

.IVRUpload {
  position: absolute;
  padding: 0px 5px;
  margin-left: 250px;
  height: 250px;
  width: 400px;
  background: #4a4a4a;
  color: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ivrtable {
  text-align: center;
  position: absolute;
  padding: 0px 5px;
  margin-left: 600px;
  width: 600px;
}

.ivrtable table {
  table-layout: auto;
  white-space: nowrap;
  border-radius: 6px;

  width: 150%;
  background: #4a4a4a;
  color: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.ivrtable table tr {
  border-bottom: 1px solid black;
}

.ivrtable thead .top {
  padding: 0 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ivrtable thead .top th {
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
}

.ivrtable tbody {
  overflow-y: scroll;
  height: 20px;
}

.ivrtable tbody .item {
  border-radius: 6px;
  font-size: 14px;
  color: #ddd;
  font-weight: lighter;
  font-style: italic;
  font-family: sans-serif;
  font-variant:small-caps;
  width: 100%;
}

.ivrtable .item .description {
  overflow: hidden;
  white-space: pre-line;
}

.ivrtable .item .remove .removeButton {
  background-color: #ff3030;
  border-color: #f00;
  font-size: 14px;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 0px 1px 5px;
  transition: all 0.25s ease;
}

.ivrtable .item .changelog .changeLogButton {
  background-color: #93C47D;
  border-color: #759c64;
  font-size: 14px;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 0px 1px 5px;
  transition: all 0.25s ease;
}

.ivrtable .item button:hover {
  transform: scale(1.1);
  transition: all 0.25s ease;
}

.ivrtable .item .edit .editButton {
  background-color: #0384fc;
  border-color: #0274ed;
  font-size: 14px;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 0px 1px 5px;
  transition: all 0.25s ease;
}

.ivrtable tbody .item .Enabled {
  color: #0f0;
}

.ivrtable tbody .item .Disabled {
  color: #f00;
}

.debugzone {
  border-radius: 6px;
  resize: vertical;
  overflow: auto;
  position: absolute;
  padding: 0px 5px;
  margin-left: 250px;
  margin-top: 20px;
  height: 280px;
  width: 300px;
  background: #4a4a4a;
  color: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.debugzone .top {
  padding: 5px 0px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 20px;
}

.debugzone .top .uploadivr .submitting {
  padding: 20% 0px;
}

.debugzone .top .uploadivr .result {
  font-size: 16px;
  padding: 5% 0px;
  text-shadow: 0px 2px 1px #000;
}

.debugzone .top .title {
  font-weight: bold;
    font-size: 20px;
  text-shadow: 0px 0px 2px #fff;
  background-image:
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 35s linear infinite;
  /*transition: 0.5s;*/
}

@keyframes move {
	to {
		background-position: 1200vh;
	}
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
