<div class="uploadivr">
  <form #ivrupload="ngForm" (ngSubmit)="onUpload()  "> <!--(ngSubmit)=""-->
    <div class="result">

    </div>
    <div class="ivrinfo">
      <label for="ivrName">IVR Name: </label>
      <input type="text" name="ivrName" placeholder="Enter IVR Display Name" maxlength=40 ngModel>
      <pre></pre>
      <label for="ivrDescription">Description: </label>
      <input required type="text" name="ivrDescription" placeholder="Enter IVR Description" maxlength=40 ngModel>
        <!--@Html.LabelFor(model => model.IVRName, new { })-->
      <!--  @Html.EditorFor(model => model.IVRName, "", new { @maxlength=40, @placeholder="Enter IVR Name Here" })-->
    </div>
    <div class="submiting">
        <input required type="file" (change)="onChange($event)" name="IVRFile" id="IVRFile" accept=".wav,.sln"/>
        <!--<div *ngIf = "IVRFile.errors && IVRFile.errors['required']" class="alert-danger">No File was selected!</div> -->
        <button type="submit" name="button">Upload</button>
    </div>
  </form>
</div>
