<!DOCTYPE html><router-outlet></router-outlet>
<html>
<head>
    <title>IVR Management Tool</title>
    <!--@Styles.Render("~/Style/default.css")-->
    <meta charset="UTF-8" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="admin">
  <!--
    @{
        // For Later lol ;P
        // Response.Write("<script language='javascript'>window.alert('You currently do not have access to this menu.');window.location.pathname='/IVR/Index';</script>");
    }
    <!-- Debug Uploading -->
    <div class="debugzone">
        <div class="top">
            <div class="title">IVR Debugging Station</div>
            <app-ivrform></app-ivrform>
        </div>
    </div>
    <!-- Debug Viewing of IVR Table -->
    <div class="ivrtable">
        <table>
            <thead>
                <tr class="top">
                    <th scope="col">IVR Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Description</th>
                    <th class="active" scope="col">Enabled/Disabled</th>
                </tr>
            </thead>
            <tbody>
              <tr class="item">
                  <td class="name">Test</td>
                  <td class="department">Test2</td>
                  <td class="description">Test3</td>
                  <td class="@item.Enabled">Test4</td>
              </tr>
            </tbody>
        </table>
    </div>
    <!-- SideBar -->
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class="bx bxs-user-badge"></i>
                <div class="logo_name">Administration Panel</div>
            </div>
        </div>
        <ul class="nav_list">
            <li>
                <a [routerLink]="['/dashboard']">
                    <i class="bx bx-grid-alt"></i>
                    <span class="links_name">Dashboard</span>
                    <span class='tooltip'>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="bx bxs-user-badge"></i>
                    <span class="links_name">Admin Panel</span>
                    <span class='tooltip'>Administration</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
<router-outlet></router-outlet>
