.main {
  position: absolute;
  color: #fff;
  background: #2c2e32;
  width: auto;
  height: auto;
  box-shadow: #000 0px 0px 8px;
  border-radius: 12px;
  animation: rainbow_box_shadow 5s infinite;
  resize:both;
}



@keyframes rainbow_box_shadow {
	from, to { box-shadow: 0 0 15px 0 red }
	16% { box-shadow: 0 0 15px 0  yellow }
	32% { box-shadow: 0 0 15px 0  green }
	48% { box-shadow: 0 0 15px 0  aqua }
	64% { box-shadow: 0 0 15px 0  blue }
	80% { box-shadow: 0 0 15px 0  fuchsia }
}

@keyframes rainbow_text_glow {
	from, to { text-shadow: 0 0 8px red }
	16% { text-shadow: 0 0 8px yellow }
	32% { text-shadow: 0 0 8px green }
	48% { text-shadow: 0 0 8px aqua }
	64% { text-shadow: 0 0 8px blue }
	80% { text-shadow: 0 0 8px fuchsia }
}
.main .inside {
  height: auto;
  width: auto;
}

.item {
  text-align: center;
  padding: 5px 5px;
  color: #111;
  font-weight: bold;
  animation: rainbow_text_glow 5s infinite;
}

.item .notes textarea {
  resize: both;
  align: center;
  border-radius: 8px;
  min-width: 300px;
  min-height: 75px;
  background-color: #2a2a2a;
  border-color: #444;
  border-style: inset;
  box-shadow: 0px 0px 4px #000;
  color: #fff;
}

.item-small {
  font-size: 12px;
}

input[type=text] {
  width: 80%;
  background-color: #2a2a2a;
  border-color: #444;
  border-style: inset;
  box-shadow: 0px 0px 4px #000;
  color: #fff;
}

.item button {
  background-color: #0384fc;
  border-color: #0274ed;
  font-size: 14px;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 0px 1px 5px;
  transition: all 0.5s ease;
  opacity: 1;
}

.item button:disabled {
  background-color: #333;
  border-color: #444;
  border-radius: 6px;
  color: #555;
  text-shadow: #000 0px 1px 5px;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.item button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

hr {
  border-color: #2a2a2a;
  animation: rainbow_box_shadow 5s infinite;
}

.rainbow_text_shadow {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #000;
  animation: rainbow_text_glow 5s infinite;
}
