.main {
  position: absolute;
  color: #fff;
  background: #2c2e32;
  width: 350px;
  height: 250px;
  box-shadow: #000 0px 0px 8px;
}

.main .inside {
  height: auto;
  width: auto;
  resize: vertical;
}
